@model TravelAgency.ViewModel.FlyViewModel
@using TravelAgency.Models;


@{
    ViewBag.Title = "addEditFly";
}

<!DOCTYPE html>

<html>
<head>

    <link href="@Url.Content("~/CSS/adminHome.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/addFly.css")"
          rel="stylesheet" type="text/css" />


    <link href="@Url.Content("~/CSS/addEditFly.css")"
          rel="stylesheet" type="text/css" />

    <meta name="viewport" content="width=device-width" />

</head>

<body>

    <!-- navigation bar-->
    <div class="topnav">

        <a id="logo1" href="~/admin/adminHome">
            <img src="~/Photos/logo.png" alt="Logo" style="width:80px;">
        </a>

        <div id="topnav-left">
            <a href="~/admin/addFly">Add Flight</a>
            <a href="/admin/removeFly">Remove Flight</a>
            <a href="/admin/editFly">Edit Flight</a>
        </div>

        <div id="topnav-right">
            <a href="/Home/home">Home Page</a>
        </div>

    </div>





    <div class="addFlyForm">

        <form action="submit_EditFly" method="post">

            <i> <strong>Source Fly </strong> </i> <div class="textbox">
                <select id="country" name="sourceFly" class="form-control">
                    <option value="@Model.fly.sourceFly">@Model.fly.sourceFly</option>

                </select>
            </div>
            <br />

            <i> <strong>Destination </strong></i> <div class="textbox">
                <select id="to" name="destination" class="form-control">
                    <option value="@Model.fly.destination">@Model.fly.destination</option>
                </select>
            </div>

            <br />
            <i><strong>Date Fly </strong></i> @Model.fly.dateFly.ToShortDateString() <br /> <br />


            <i>
                <strong>Time</strong>
            </i>  @Model.fly.timeFly

            <br /> <br />

            <i><strong>Date Landing  </strong></i> @Model.fly.dateLanding.ToShortDateString()  <br /><br />


            <i><strong>Time</strong></i>  @Model.fly.timeFly

            <br /><br />
            <i><strong>Fly Number </strong></i> <div class="textbox">  </div> @Model.fly.flyNumber


            <br /><br />
            <i><strong>Price  </strong></i><div class="textbox"></div> @Html.TextBoxFor(m => m.fly.price)
            <br /><br />
            <i><strong>Number Seats </strong></i><div class="textbox"></div> <select id="country" name="aviableSeat" class="form-control">
                <option value="@Model.fly.aviableSeat">@Model.fly.flightSeat</option>
                <option value=180>180</option>
                <option value=210>210</option>
                <option value=240>240</option>
            </select>
            <br /><br />



            <!-- icons -->
            <div class="icons">

                <img src="~/Photos/icons/icon-1.png" id="q1" alt="Logo">
                <br /><br /><br />
                <img src="~/Photos/icons/icon-2.png" id="q2" alt="Logo">
                <br /><br /><br />
                <img src="~/Photos/icons/icon-3.png" id="q3" alt="Logo">
                <br /><br />
                <img src="~/Photos/icons/icon-3.png" id="q4" alt="Logo">
                <br /><br />
                <img src="~/Photos/icons/icon-5.png" id="q5" alt="Logo">
                <br /><br />
                <img src="~/Photos/icons/icon-6.png" id="q6" alt="Logo">
                <br /><br />
                <img src="~/Photos/icons/icon-7.png" id="q7" alt="Logo">
                <br />

            </div>

            <div class="icons2">

                <img src="~/Photos/icons/icon-4.png" id="q8" alt="Logo">
                <br /><br /><br />
                <img src="~/Photos/icons/icon-4.png" id="q9" alt="Logo">
                <br /><br /><br />


            </div>




        </form>

        <a id="save" href="~/Views/admin/submit_EditFly/@Model.fly.flyNumber/@Model.fly.flightSeat/@Model.fly.price">save</a>




    </div>







</body>


</html>
