@model TravelAgency.ViewModel.FlyViewModel
@using TravelAgency.Models;

@{
    ViewBag.Title = "removeFly";
}


<!DOCTYPE html>

<html>
<head>

    <link href="@Url.Content("~/CSS/adminHome.css")"
          rel="stylesheet" type="text/css" />


    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <!-- navigation bar-->
    <div class="topnav">

        <a id="logo1" href="~/admin/adminHome">
            <img src="~/Photos/logo.png" alt="Logo" style="width:80px;">
        </a>

        <div id="topnav-left">
            <a href="~/admin/addFly">Add Flight</a>
            <a href="/admin/removeFly">Remove Flight</a>
            <a href="/admin/editFly">Edit Flight</a>
        </div>

    </div>



    <table>

        <tr>
            <th>Flight Number</th>
            <th>Source</th>
            <th>Distanation</th>
            <th>Price</th>

        </tr>



        @foreach (Fly fly in Model.flyList)
        {
            <tr>
                <td>@fly.flyNumber</td>
                <td>@fly.sourceFly</td>
                <td>@fly.destination</td>
                <td>@fly.price</td>
                <td> <a href="~/Views/admin/delete/@fly.flyNumber">Remove </a></td>


            </tr>



        }

    </table>



</body>


</html>


