@model TravelAgency.Models.order

@{
    ViewBag.Title = "payment";
}

<!DOCTYPE html>

<html>
<head>

    <link href="@Url.Content("~/CSS/NavBar1.css")"
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/CSS/home2.css")"
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/CSS/payment.css")"
          rel="stylesheet" type="text/css" />

    <title>home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <div class="topnav">
        <a id="logo1" href="~/Home/home">
            <img src="~/Photos/logo.png" alt="Logo" style="width:80px;">
        </a>
        <a href="/Home/home">Home</a>

        <a href="/Home/MyFlights">My Flights</a>

        <div class="floatRight">
            <a href="/Home/login">Log In</a>
            <a href="/Home/signUp">Sign Up  </a>
        </div>
    </div>


    <div class="titleFly">

        <h1 id="payTitle"> <strong>Payment</strong> </h1>

    </div>


    <div id="firstTime">

        <div id="payForm">

            <form action="~/Views/Home/submitPay" method="post">


                <label class="labels">Total Price : <strong> @Model.price$ </strong></label>

                <label class="labels">Number Order</label>

                <input class="inputs" type="text" name="numberOrder" readonly value="@Model.numberOrder" />



                <br />

                <br />

                <label class="labels">check if your card saved in the system :</label>

                <br />

                <label class="labels">ID of the card owner :</label>
                <input class="inputs" type="text" required id="id" name="id" pattern="\d{8}" />


                <br /> <br />

                <div id="creditCrad">

                    <label class="c1"> Credit Card</label>
                    <br />

                    <label class="labels">Card Number</label>
                    <input class="inputs" type="text" id="cardNumber" name="cardNumber" pattern="\d{16}" placeholder="XXXX-XXXX-XXXX-XXXX" />

                    <br />

                    <label class="labels">Year</label>
                    <select class="inputs" id="year" name="year" required>
                        <option value=2023>2023</option>
                        <option value=2024>2024</option>
                        <option value=2025>2025</option>
                        <option value=2026>2026</option>
                        <option value=2027>2027</option>
                        <option value=2028>2028</option>
                        <option value=2029>2029</option>
                    </select>

                    <br />

                    <label class="labels">Month</label>

                    <select class="inputs" name="month" required>
                        <option value=1>01</option>
                        <option value=2>02</option>
                        <option value=3>03</option>
                        <option value=4>04</option>
                        <option value=5>05</option>
                        <option value=6>06</option>
                        <option value=7>07</option>
                        <option value=8>08</option>
                        <option value=9>09</option>
                        <option value=10>10</option>
                        <option value=11>11</option>
                        <option value=12>12</option>
                    </select>
                    <br />

                    <label class="labels">CVV </label>
                    <input class="inputs" type="text" required id="id" name="cvv" pattern="\d{3}" />

                    <br />



                    <label class="labels">Keep credit information</label>
                    <input type="checkbox" id="keep-credit-info" name="keep">

                </div>

                <input id="pay" type="submit" value="Pay" />

            </form>

        </div>


    </div>

    <button id="check" onclick="checkCard()">Check</button>


    <div class="titleOrderDetils">

        <h1 id="titleOrderDetils1"> <strong>Details Flight</strong> </h1>

    </div>

    <div id="orderDetails">

        <div id="firstFlight">

            <label class="labels">Number Order Is <strong> @Model.numberOrder</strong></label>

            <label class="labels">Flight Number <strong>  @TempData["flynum1"] </strong> </label>

            <label class="labels">Source  <strong>  @TempData["source"] </strong> </label>

            <label class="labels">Distanation  <strong> @TempData["dis"] </strong> </label>

            <label class="labels">Date Flight  <strong>  @TempData["date1"] </strong> </label>

            <label class="labels">Time Flight <strong> @TempData["time1"] </strong> </label>

            <label class="labels">Price For Ticket  <strong> @TempData["price1"] </strong> </label>

            <label class="labels">Number Ticket  <strong> @Model.numberTicket </strong> </label>

        </div>



        <div id="returnFlight" style="display:none;">



            <div class="titleOrderDetils">

                <h1 id="titleOrderDetils1"> <strong>Details Return Flight</strong> </h1>

            </div>

            <div id="firstFlight">

                <label class="labels">Number Order Is <strong> @Model.numberOrder</strong></label>

                <label class="labels">Flight Number <strong>  @TempData["flynum2"] </strong> </label>

                <label class="labels">Source  <strong>  @TempData["dis"] </strong> </label>

                <label class="labels">Distanation  <strong> @TempData["source"] </strong> </label>

                <label class="labels">Date Flight  <strong>  @TempData["date2"] </strong> </label>

                <label class="labels">Time Flight <strong> @TempData["time2"] </strong> </label>

                <label class="labels">Price For Ticket  <strong> @TempData["price2"] </strong> </label>

                <label class="labels">Number Ticket  <strong> @Model.numberTicket </strong> </label>

            </div>



        </div>

    </div>


    <div id="icons">

        <img src="~/Photos/icons/icon-1.png" id="q1" alt="Logo">

        <img src="~/Photos/icons/icon-2.png" id="q2" alt="Logo">

        <img src="~/Photos/icons/icon-3.png" id="q4" alt="Logo">

        <img src="~/Photos/icons/icon-5.png" id="q5" alt="Logo">

        <img src="~/Photos/icons/icon-6.png" id="q6" alt="Logo">

        <img src="~/Photos/icons/icon-7.png" id="q7" alt="Logo">

        <img src="~/Photos/icons/icon-4.png" id="q8" alt="Logo">



    </div>


    <script type="text/javascript">


        var returnDiv = document.getElementById("returnFlight");

        var tempData = '<%= flynum2 %>';
        if (tempData !== '') {
            document.getElementById('returnFlight').style.display = 'block';
        }







        function checkCard() {

            var ID = document.getElementById("id").value;

            if (ID == "") {

                alert("Enter id for the check");

            }
            else {
                $.ajax({
                    type: "POST",
                    url: "Home/searchCard",
                    data: {
                        id: ID
                    },
                    dataType: "json",
                    success: function (result) {

                        if (result.status === "true") {

                            if (confirm("The credit card is with ending" + result.card.substr(12, 4) + "do you want to use it ?")) {

                                alert("The pay success");
                            }
                            else {
                                alert("We are sorry ,We were unable to find any credit cards that match this ID");
                            }


                        }

                    }

                });

            }

        }




    </script>


</body>



</html>


