@model TravelAgency.Models.Ticket
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="@Url.Content("~/CSS/NavBar1.css")"
          rel="stylesheet" type="text/css" />


    <link href="@Url.Content("~/CSS/signUp1.css")"
          rel="stylesheet" type="text/css" />



    <meta name="viewport" content="width=device-width" />
    <title>signUp</title>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



</head>

<body>


    <!-- Navigtion bar -->
    <div id="nav">
        <div class="topnav">

            <a id="logo1" href="~/admin/adminHome">
                <img src="~/Photos/logo.png" alt="Logo" style="width:80px;">
            </a>

            <a href="/Home/home">Home</a>
            <a href="/Home/MyFlights">My Flights</a>

            <div class="floatRight">

                <a href="/Home/login">Log In</a>
                <a href="/Home/signUp">Sign Up  </a>

            </div>
        </div>
    </div>
    <div id="All">

        <div class="titlesignup"> <h1> <strong>Personal Details </strong> </h1> </div>

        <div class="signUpForm">

            @using (Html.BeginForm("submit_personalDetails", "Ticket", FormMethod.Get))
            {
                <br />
                <i> <strong>First Name :</strong> </i> <div class="textbox"> @Html.TextBoxFor(m => m.firstName) @Html.ValidationMessageFor(x => x.firstName) </div>
                <br />
                <i> <strong> Last Name : </strong></i><div class="textbox">  @Html.TextBoxFor(m => m.lastName) @Html.ValidationMessageFor(x => x.lastName)</div>
                <br />
                <i><strong>Passport : </strong></i><div class="textbox">  @Html.TextBoxFor(m => m.passport) @Html.ValidationMessageFor(x => x.passport)</div>
                <br />

                <!-- Safe input that user cannot change-->
                <i><strong>Flight Number</strong></i> <input readonly value="@Model.flyNUmber" name="flyNUmber" />
                <br />
                <i><strong>Seat</strong></i> <input readonly value="@Model.seat" name="seat" />
                <br />

                <i><strong>Number Order</strong></i> <input readonly value="@Model.orderNumber"  name="orderNumber" />
                <br />

                <br /><br />
                <input id="sub_botton" type="submit" value="Submit" />

            }

        </div>

    </div>


</body>




</html>


