@model TravelAgency.ViewModel.FlyViewModel
@using TravelAgency.Models;


@{
    ViewBag.Title = "SearchFlight_Roundtrip";
}

<html>

<head>
    <link href="@Url.Content("~/CSS/NavBar1.css")"
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/CSS/home2.css")"
          rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/CSS/showFlights_oneWay.css")"
          rel="stylesheet" type="text/css" />



    <title>showFlights</title>

    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <!-- navigation bar-->
    <div class="topnav">

        <a id="logo1" href="~/Home/home">
            <img src="~/Photos/logo.png" alt="Logo" style="width:80px;">
        </a>

        <div id="topnav-left">
            <a href="/Home/home">Home</a>
            <a href="/Home/MyFlights">My Flights</a>
            <div class="floatRight">
                <a href="/Home/login">Log In</a>
                <a href="/Home/signUp">Sign Up  </a>
            </div>

        </div>
    </div>



    <div id="tbl_one">
        <table id="tbl1" cellpadding="10px">

            <tr>
                <th>Flight Number</th>
                <th>Source</th>
                <th>Distanation</th>
                <th>Date Flight</th>
                <th>Time Flight</th>
                <th>Date Landing</th>
                <th>Time Landing</th>
                <th>Aviable Seats</th>
                <th>Price</th>
                <th>rated</th>

            </tr>



            @foreach (Fly fly in Model.flyList)
            {
                <tr>
                    <th>@fly.flyNumber</th>
                    <th>@fly.sourceFly</th>
                    <th>@fly.destination</th>
                    <th>@fly.dateFly.ToShortDateString()</th>
                    <th>@fly.timeFly</th>
                    <th>@fly.dateLanding.ToShortDateString()</th>
                    <th>@fly.timeLanding</th>
                    <th>@fly.aviableSeat </th>
                    <th>@fly.price</th>
                    <th>@fly.rated</th>
                    <th> <a href="~/Views/Home/ShowSeats/@fly.flyNumber/@TempData["order"]" class="chooseSeat">Choose Seats</a></th>

                </tr>

            }

        </table>

    </div>


    <div id="tbl_two">

        <table id="tbl1" cellpadding="10px">

            <tr>
                <th>Flight Number</th>
                <th>Source</th>
                <th>Distanation</th>
                <th>Date Flight</th>
                <th>Time Flight</th>
                <th>Date Landing</th>
                <th>Time Landing</th>
                <th>Aviable Seats</th>
                <th>Price</th>
                <th>rated</th>

            </tr>



            @foreach (Fly fly in Model.increase)
            {
                <tr>
                    <th>@fly.flyNumber</th>
                    <th>@fly.sourceFly</th>
                    <th>@fly.destination</th>
                    <th>@fly.dateFly.ToShortDateString()</th>
                    <th>@fly.timeFly</th>
                    <th>@fly.dateLanding.ToShortDateString()</th>
                    <th>@fly.timeLanding</th>
                    <th>@fly.aviableSeat </th>
                    <th>@fly.price</th>
                    <th>@fly.rated</th>
                    <th> <a href="~/Views/Home/ShowSeats/@fly.flyNumber/@TempData["order"]" class="chooseSeat">Choose Seats</a></th>

                </tr>

            }

        </table>

    </div>


    <div id="tbl_three">

        <table id="tbl1" cellpadding="10px">

            <tr>
                <th>Flight Number</th>
                <th>Source</th>
                <th>Distanation</th>
                <th>Date Flight</th>
                <th>Time Flight</th>
                <th>Date Landing</th>
                <th>Time Landing</th>
                <th>Aviable Seats</th>
                <th>Price</th>
                <th>rated</th>

            </tr>



            @foreach (Fly fly in Model.decrease)
            {
                <tr>
                    <th>@fly.flyNumber</th>
                    <th>@fly.sourceFly</th>
                    <th>@fly.destination</th>
                    <th>@fly.dateFly.ToShortDateString()</th>
                    <th>@fly.timeFly</th>
                    <th>@fly.dateLanding.ToShortDateString()</th>
                    <th>@fly.timeLanding</th>
                    <th>@fly.aviableSeat </th>
                    <th>@fly.price</th>
                    <th>@fly.rated</th>
                    <th> <a href="~/Views/Home/ShowSeats/@fly.flyNumber/@TempData["order"]" class="chooseSeat">Choose Seats</a></th>

                </tr>



            }

        </table>

    </div>



    <div id="tbl_four">

        <table id="tbl1" cellpadding="10px">

            <tr>
                <th>Flight Number</th>
                <th>Source</th>
                <th>Distanation</th>
                <th>Date Flight</th>
                <th>Time Flight</th>
                <th>Date Landing</th>
                <th>Time Landing</th>
                <th>Aviable Seats</th>
                <th>Price</th>
                <th>rated</th>

            </tr>



            @foreach (Fly fly in Model.rated)
            {
                <tr>
                    <th>@fly.flyNumber</th>
                    <th>@fly.sourceFly</th>
                    <th>@fly.destination</th>
                    <th>@fly.dateFly.ToShortDateString()</th>
                    <th>@fly.timeFly</th>
                    <th>@fly.dateLanding.ToShortDateString()</th>
                    <th>@fly.timeLanding</th>
                    <th>@fly.aviableSeat </th>
                    <th>@fly.price</th>
                    <th>@fly.rated</th>
                    <th> <a href="~/Views/Home/ShowSeats/@fly.flyNumber/@TempData["order"]" class="chooseSeat">Choose Seats</a></th>

                </tr>

            }

        </table>

    </div>






    <form id="orderForm" action="orderFlight">
        <label id="orderLabel">Order by</label>


        <select id="orderBy" name="orderBy">
            <option value="price_increase">price increase</option>
            <option value="price_decrease">price decrease</option>
            <option value="most_popular">most popular</option>
        </select>


    </form>

    <button id="sub" onclick="order_by()">submit</button>

    <script type="text/javascript">

        let element = document.getElementById("tbl_one");
        let increase = document.getElementById("tbl_two");
        let decrease = document.getElementById("tbl_three");
        let rated = document.getElementById("tbl_four");

        increase.style.display = "none";
        decrease.style.display = "none";
        rated.style.display = "none";

        function order_by() {

            var select = document.querySelector('[name=orderBy]');
            var value = select.value;

            if (value == "price_increase") {

                //increase option
                decrease.style.display = "none";
                element.style.display = "none";
                increase.style.display = "block";
                rated.style.display = "none";

            }
            else if (value == "price_decrease") {

                decrease.style.display = "block";
                element.style.display = "none";
                increase.style.display = "none";
                rated.style.display = "none";

            }
            else if (value == "most_popular") {
                decrease.style.display = "none";
                element.style.display = "none";
                increase.style.display = "none";
                rated.style.display = "block";

            }

        }

    </script>


</body>


</html>





